


@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// custom css
.product-card-img {
    height: 100px;
    max-width: 100%;
    object-fit: cover;
}

.product-card-description {
    height: 50px;
}

.product-detail-img {
    height: 300px;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}